<!DOCTYPE html>
<html>

<head >

<meta name="keywords" content="JavaScript, WebRTC" />
<meta name="description" content="WebRTC codelab" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
  <link href="{{ STATIC_URL }}css/jquery-ui-1.10.2.custom.css" rel="stylesheet" media="screen">

  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>

</head>

<body>
  <header>
    <h1 id="logo_text">Visual Meeting</h1>
    <input id="shareURLButton" type="button" class="btn login-button input-large" value="&nbsp;&nbsp;&nbsp;Share URL&nbsp;&nbsp;&nbsp;">
  </header>

  <div id="shareURLModal" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h1 id="fixRaceTitle" class="modal-text"></h1>
    </div>
    <div id="fixRaceBody" class="modal-body">
      <h1>teambarbara.herokuapp.com/meeting/{{room_name}}</h1>
    </div>
    <div class="modal-footer">
      <a id="cancelButtonFix" href="" data-dismiss="modal" class="btn btnCancelModal">Close</a>
    &nbsp;
      
    </div>
  </div>

  <div class="middle">
    <div id="names_panel">
      
      {% include "videoconference/names_panel.html" %}
    </div>

    <div id="videos">
     
      {% load staticfiles %}
      {% include "videoconference/video.html" %}
      
    </div>
  <div>
    
</body>

</html>
