<!DOCTYPE html>
<html>
	<head>
		<title>Team Barbara</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" media="screen">
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<!script type="text/javascript" src="{{ STATIC_URL }}js/login.js"><!/script>
	</head>
	
	<body>
		<div class="containerParent">
		
		<center>
		<div class="container-outer">
			<div class="content">
				<div class="row">
					<div class="login-form">
						<form name="loginform" class="form-horizontal center" method="post" action="/createroom">
						{% csrf_token %}
							<fieldset>
								<legend>
								<a class="brand" href="#"><img src="{{ STATIC_URL }}img/logo.png" width="350" ></a>
								<h1>Welcome to Team Barbara Application! Create a new room here.</h1>
								</legend>
								<div class="control-group">
									<label class="control-label login-label" autofocus="autofocus">Room Name</label>
									<div class="controls">
										<input id="id_meeting_name" maxlength="30" name="name" type="text" value="{{name}}" />
									</div><button> Generate name</button>
								</div>
								

								{% if form.errors %}
								<div class="alert alert-error">
								  <p>That room already exists. Try again</p>
								</div>
								{% endif %}

								<div id="loginbtn">
									<input type="submit" class="btn login-button input-large" value="&nbsp;&nbsp;&nbsp;Create Room&nbsp;&nbsp;&nbsp;" />
									<p></p>
									
								</div>
								<input type="hidden" name="next" value="{{ next }}" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			
			</div></center>
		</div> 
	</body>
</html>
