/* General Layout */

html, body, .container-fluid, .row-fluid {
	position: relative;
	height: 100%;
}

body {
	/*-webkit-box-flex: 1.0;
	-webkit-box-orient: horizontal;*/
	/*display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;*/
}

header {
	height: 50px;
	background-color: black;
	/*Make it a flex box*/
	display: -webkit-flex;
	/*Vertically align the text*/
	-webkit-align-items: center;
}

.middle {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	height: 100%;
}

#names_panel {
	/*-moz-box-flex:1.0;*/ /* Firefox */
	/*-webkit-box-flex:1.0;*/ /* Safari and Chrome */
	/*-ms-flex:1.0;*/ /* Internet Explorer 10 */
	/*box-flex:1.0;*/
	/*-webkit-box-orient: horizontal;*/
	-webkit-flex: 1 0 0;
	flex: 1 0 0;
	border:1px solid red;
}

#videos{
	/*-moz-box-flex:2.0;*/ /* Firefox */
	/*-webkit-box-flex:2.0;*/ /* Safari and Chrome */
	/*-ms-flex:2.0;*/ /* Internet Explorer 10 */
	/*box-flex:2.0;*/
	/*-webkit-box-orient: horizontal;*/
	-webkit-flex: 3 0 0;
	flex: 3 0 0;
	border:1px solid blue;

	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	height: 100%;
}

#logo_text {
	color: white;
}

#localVideo {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin-left: auto;
	height: 200px;
}

#localVideo video{
	right:0px;
	position: absolute;
	height:200px;
}