<!DOCTYPE html>
<html>
	<head>
		<title>Team Barbara</title>
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/bootstrap-themed.css" rel="stylesheet" media="screen">
		<link href="{{ STATIC_URL }}css/login.css" rel="stylesheet" media="screen">
		
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
		<!script type="text/javascript" src="{{ STATIC_URL }}js/login.js"><!/script>
	</head>
	
	<body>
		<div class="containerParent">
		
		<center>
		<div class="container-outer">
			<div class="content">
				<div class="row">
					<div class="login-form">
						<form name="loginform" class="form-horizontal center" method="post" action="{% url 'django.contrib.auth.views.login' %}">
						{% csrf_token %}
							<fieldset>
								<legend>
								<a class="brand" href="#"><img src="{{ STATIC_URL }}img/logo.png" width="350" ></a>
								</legend>
								<div class="control-group">
									<label class="control-label login-label" autofocus="autofocus">Name</label>
									<div class="controls">
										{{ form.username }}
									</div>
								</div>
								<div class="control-group">
									<label class="control-label login-label" autofocus="autofocus">Name</label>
									<div class="controls">
										{{ form.username }}
									</div>
								</div>
								<!--<div class="control-group">
									<label class="control-label login-label">Password</label>
									<div class="controls">
										{{ form.password }}
									</div>
								</div>

								{% if form.errors %}
								<div class="alert alert-error">
								  <p>Your username and password didn't match. Please try again.</p>
								</div>
								{% endif %}-->

								<div id="loginbtn">
									<input type="submit" class="btn login-button input-large" value="&nbsp;&nbsp;&nbsp;Enter Meeting&nbsp;&nbsp;&nbsp;" />
									<p></p>
									<!--<a href='/create/' class='createusernamelink'>Are you in 6.813? Click here to create a username</a>-->
								</div>
								<input type="hidden" name="next" value="{{ next }}" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			
			</div></center>
		</div> 
	</body>
</html>
